.drumkit {
    grid-template-columns: repeat(4,1fr);
    background-color: rgb(223,223,223);
    border-radius: 75px;
    display: grid;
    padding: 25px;
    border: 1px solid black;
    width: fit-content;
    gap: 25px;
}
.drum {
    background-color: rgb(128,128,128);
    border-radius: 50%;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
.drum:active {
    background-color: rgb(191,191,191);
}